.page-container {
  position: relative;
  min-height: 100vh;
  background: #ececec !important;
  padding-bottom: 5em;
  padding-top: 50px;
}

.formBox {
  background: white !important;
}

.password-criteria {
  background: #ececec !important;
  border-bottom: 0 !important;
  text-justify: auto !important;
}

.note {
  color: rgb(109, 109, 98) !important;
}
