.page-container {
  position: relative;
  min-height: 100vh;
  background: #ececec !important;
  padding-bottom: 5em;
  padding-top: 30px;
}

.password-criteria {
  background: #ececec !important;
  border-bottom: 0 !important;
  text-justify: auto !important;
}

/* .resetPassword {
  background-color: rgb(165, 241, 165);
} */
